<!DOCTYPE html>
<html>
<head>
    <title>Abstract</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include "ElHornairDocumentoratorBundle:Default:less_includes.html.twig" %}
</head>

<body>
    <div class="standalone standalone-abstract">
        <div class="chapter">
            <div class="standalone-centered">
                <h1 class="standalone-title">Documentorator</h1>
                <span class="standalone-info">Based on Prince, Symfony2, Twig, HTML, CSS, JavaScript</span>
                <span class="standalone-info">Published in March 2014</span>
                <h2 class="standalone-subtitle">Abstract</h2>
            </div>
            {% include "ElHornairDocumentoratorBundle:Special:abstract_content.html.twig" %}
        </div>
    </div>
</body>
</html>
