<!DOCTYPE html>
<html>
<head>
    <title>Curriculum</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include "ElHornairDocumentoratorBundle:Default:less_includes.html.twig" %}
</head>

<body>
    <div class="standalone standalone-curriculum">
        {% include "ElHornairDocumentoratorBundle:Special:personal_data.html.twig" %}
    </div>
</body>
</html>
