<div class="chapter-special">

    <h1>Confirmation of originality</h1>
    <p>
        I hereby confirm that I wrote this document by myself and explicitly marked all external references.
        <br>
        <br>
        Somewhere, March 2014
        <br>
        <br>
        <br>
        Chuck Norris
    </p>
</div>
