<div class="frontpage">
    <h1>Documentorator</h1>
    <h2>A great way to write documentations based on web-technologies</h2>

    <dl class="frontpage-metadata">
        <dt>Published:</dt><dd>March 2014</dd>
        <dt>Based on:</dt><dd>Prince, Symfony2, Twig, HTML, CSS, JavaScript</dd>
        <dt>Author:</dt><dd>@elHornair</dd>
    </dl>
</div>