<div class="chapter-special chapter-portrait">
    <h1>Curriculum vitae</h1>
    <h2>Personal Data</h2>
    <img src="bundles/elhornairdocumentorator/img/chuck.jpg">
    <dl class="frontpage-metadata">
        <dt>Name, first name:</dt><dd>Norris, Chuck</dd>
        <dt>Date of birth:</dt><dd>01.01.1848</dd>
        <dt>Street:</dt><dd>Somewhere over the rainbow</dd>
        <dt>City:</dt><dd>In the shadows</dd>
    </dl>
    <h2>Experience</h2>
    <ul>
        <li>6 years primary school in the shadows, 1848 – 1854</li>
        <li>1 year studying all knowledge of the universe, 1854 – 1855</li>
        <li>159 years of beating up people and saving the world, 1855 – 2014</li>
    </ul>
</div>
